.fill-service-form {
    min-height: 100vh;
    background-color: #f1f1f1;
    padding-top: 100px;
}

.fill-service-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 300px; */
    max-width: 800px;
    padding: 50px;
    background-color: white;
    margin-top: 80px;
}

.fill-service-form input {
    border: 1px solid #aaafb9;
    font-size: 15px;
    width: 100%;
    background-color: #f7f9fc;
    line-height: 1.25;
    padding: 10px 15px;
}

.fill-service-form input:focus {
    outline: none;
}

.fill-service-form label {
    font-size: 17px;
    font-weight: 500;
    color: #222;
    margin-bottom: 15px;
}

.fill-service-form input+p {
    color: #5555558b;
    font-size: 12px;
    margin: 5px 0;
}

.fill-service-form button {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 10px 0;
    background-color: #2caae2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}