section.balance {
    margin-top: 70px;
}

section.balance h1 {
    margin-bottom: 50px;
}

section.balance h2 {
    text-align: center;
}

section.balance span {
    font-size: 25px;
    color: #52b035;
}

section.balance p {
    text-align: center;
}

@media (max-width:767px) {
    section.balance .row {
        gap: 40px;
    }
}