/* Navbar Section  */
.navbar {
  position: relative !important;
  padding: 10px 0;
  background-color: #444444;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
}

.navbar.fixed {
  position: fixed !important;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 222;
}

.navbar-container {
  display: flex;
  justify-content: space-between !important;
}

.navbar .container ul .nav-item button {
  border: 1px solid white;
  padding: 10px;
  background-color: transparent;
  color: white;
  transition: 0.4s;
}

.navbar .container ul .nav-item button ion-icon {
  font-size: 20px;
}

.navbar .container ul .nav-item button:hover {
  background-color: white;
  color: #444444;
}

.navbar-brand > ion-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.logo {
  width: 110px;
  height: 35px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offcanvas {
  width: 280px !important;
}

.offcanvas .head ion-icon {
  font-size: 30px;
  cursor: pointer;
}

.offcanvas-backdrop {
  z-index: 333 !important;
}

.offcanvas-body {
  padding: 0 !important;
}

@media (max-width: 767px) {
  .navbar {
    font-size: 1.4rem !important;
  }

  .navbar-nav .nav-item::after {
    display: none !important;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.navbar-link {
  display: flex !important;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px !important;
  padding: 0.8rem 0.5rem 0.2rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

@media (max-width: 500px) {
  .navbar .container ul .nav-item button {
    display: none !important;
  }
}
