.user {
  position: relative;
}

.user .image-holder {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.user .image-holder img {
  width: 100%;
  border-radius: 50%;
}

.user .list-group {
  position: absolute;
  left: 10px;
  top: 105%;
}

.user .list-group-item a,
.user .list-group-item {
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user .list-group-item a ion-icon,
.user .list-group-item ion-icon {
  font-size: 18px;
}
