.service-list-page {
    padding-top: 100px;
    background-color: #f1f1f1;
    min-height: 100vh;
}

.service-list-page p {
    font-size: 15px;
    max-width: 600px;
}

.service-list-page input {
    border: 1px solid #aaafb9;
    font-size: 15px;
    /* width: 100%; */
    background-color: #f7f9fc;
    line-height: 1.25;
    padding: 10px 15px;
}

.service-list-page input:focus {
    outline: none;
}