.add-service form.add-service,
.add-service form.add-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  background-color: #f1f1f1;
  margin-top: 80px;
}

.add-service form.add-form {
  padding: 50px 0 20px;
}

.add-service form.add-service {
  gap: 30px;
  padding: 50px;
}

.add-service form.add-service h2 {
  width: max-content;
  margin: 10px 0;
}

.add-service form.add-form h1 {
  width: max-content;
  margin: 10px auto 30px;
}

.add-service form.add-service label,
.add-service form.add-form label {
  font-size: 17px;
  font-weight: 500;
  color: #222;
  margin-bottom: 15px;
}

.add-service form.add-service label span {
  color: #e20e0e;
}

.add-service form.add-service input,
.add-service form.add-form input {
  border: 1px solid #aaafb9;
  font-size: 15px;
  width: 100%;
  background-color: #f7f9fc;
  line-height: 1.25;
  padding: 10px 15px;
}

.add-service form.add-service input:focus,
.add-service form.add-form input:focus {
  outline: none;
}

.error {
  border: 1px solid #e20e0e;
}

.add-service form.add-service input + p,
.add-service form.add-service div + p {
  color: #e20e0e;
  font-size: 12px;
  margin: 5px 0;
}

.add-service form.add-service textarea,
.add-service form.add-form textarea {
  width: 100%;
  background-color: #f7f9fc;
  border: 1px solid #aaafb9;
}

.add-service form.add-service textarea:focus,
.add-service form.add-form textarea:focus {
  outline: none;
}

.add-service form.add-form button.submit,
.add-service form.add-service div.next {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 10px 0;
  background-color: #2caae2;
  display: flex;
  align-items: center;
}
.add-service form.add-service div.next {
  background-color: #2caae2;
  justify-content: center;
}
.add-service form.add-form button.submit {
  padding: 7px 10px;
  background-color: #2caae2;
  gap: 5px;
}
.add-service form.add-form button.submit ion-icon[name="checkmark"] {
  font-size: 25px !important;
  color: white !important;
}

.add-service form.add-form div.add {
  margin: 10px auto;
  padding: 3px;
  background-color: #222;
  border-radius: 50%;
  font-weight: 500;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-service form.add-form div.add ion-icon {
  color: white;
  font-size: 27px;
  transition: 0.2s;
}

.add-service form.add-form div.add:hover ion-icon {
  transform: rotate(90deg);
}
.add-service form.add-form ion-icon[name="arrow-back"] {
  cursor: pointer;
  color: #222;
  font-size: 30px;
}

.add-service form.add-service > span {
  font-size: 15px;
  text-align: left;
  color: black;
}

.add-service form.add-form p {
  padding: 0 50px;
  text-align: center;
}

.add-service form.add-form .question {
  padding: 20px 50px;
}

.add-service form.add-form .question ion-icon {
  font-size: 25px;
  cursor: pointer;
}

.add-service form.add-form .btn-group {
  padding: 0 20px;
}

@media (max-width: 400px) {
  .add-service form.add-form .question .question-body {
    flex-wrap: wrap;
  }
}
