@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

section > h1 {
  margin-bottom: 40px;
}

hr {
  color: #444444;
  margin: 5px !important;
}

.w-max {
  width: max-content;
}

.w-fit {
  width: fit-content;
}

.accordion-item {
  border: none;
  outline: none;
}

.accordion-item .accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.accordion-item .accordion-button::after {
  margin: 0;
}

.accordion-item .accordion-button,
.accordion-item .accordion-button:active {
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: rgb(239, 239, 49);
  padding: 0;
  width: max-content;
}

.accordion-item .accordion-header {
  border: none !important;
  outline: none !important;
  color: black !important;
}

.white-glass {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

section.confirm-email {
  height: 100vh;
}

section.confirm-email .container {
  text-align: center;
}

.resend-code {
  font-size: 15px;
}

.resend-code a {
  text-decoration: none;
  cursor: pointer;
  color: #2caae2;
}

input.my-input {
  border: 1px solid #aaafb9;
  font-size: 15px;
  width: 100%;
  background-color: #f7f9fc;
  line-height: 1.25;
  padding: 10px 15px;
}

textarea {
  width: 100%;
  background-color: #f7f9fc;
  border: 1px solid #aaafb9;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input + p,
textarea + p,
div.password div + p,
div.password2 div + p {
  color: #e20e0e;
  font-size: 12px;
  margin: 5px 0;
}

.error {
  border: 1px solid #e20e0e !important;
}

label {
  font-size: 17px;
  font-weight: 500;
  color: #222;
  margin-bottom: 15px;
}

label span {
  color: #e20e0e;
}

.my-btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 10px 0;
  background-color: #2caae2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable {
  opacity: 0.9 !important;
  cursor: default !important;
}

.loading-text {
  opacity: 0.5 !important;
  cursor: auto !important;
}

button.eye {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.eye ion-icon {
  font-size: 25px;
}

.disable {
  user-select: none;
  cursor: not-allowed !important;
  background-color: #2cabe25d !important;
}

.swal-text {
  text-align: right;
  line-height: 1.7;
}

.message {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.hidden {
  display: none !important;
}

.form-link {
  cursor: pointer;
  color: #2caae2;
}

.form-link:hover {
  text-decoration: underline;
}

.modal-header .btn-close {
  margin: 0 !important;
}

.modal-header .modal-title {
  margin: 0 !important;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 50px;
  background-color: white;
}

.modal-body input {
  border: 1px solid #aaafb9;
  font-size: 15px;
  width: 100%;
  background-color: #f7f9fc;
  line-height: 1.25;
  padding: 10px 15px;
}

.modal-body input:focus {
  outline: none;
}

.modal-body label {
  font-size: 17px;
  font-weight: 500;
  color: #222;
  margin-bottom: 15px;
}

.modal-body input + p {
  color: #5555558b;
  font-size: 12px;
  margin: 5px 0;
}

.image-skelton {
  width: 100%;
  height: 100%;
  background-color: rgb(224, 219, 219);
  border-radius: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.filter-btn {
  border: none;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 10px 0;
  background-color: #2caae2;
}
