form.forget {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  max-width: 600px;
  padding: 50px;
  background-color: #f1f1f1;
  margin-top: 80px;
}
form.forget label {
  font-size: 17px;
  font-weight: 500;
  color: #222;
  margin-bottom: 15px;
}

form.forget label span {
  color: #e20e0e;
}

form.forget input {
  border: 1px solid #aaafb9;
  font-size: 15px;
  width: 100%;
  background-color: #f7f9fc;
  line-height: 1.25;
  padding: 10px 15px;
}

form.forget input:focus {
  outline: none;
}
