.services {
    gap: 15px;
}

.services.page {
    background-color: #f1f1f1;
}

.services img {
    cursor: pointer;
}

.services.page .row {
    gap: 30px;
}

.services .container .row div,
.services>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.services .container .row>div h1,
.services>div h1 {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
}

.services .container .row>div span:first-of-type,
.services>div span:first-of-type {
    font-size: 15px;
    color: #777777;
    font-weight: 500;
}